/* battery status */
.empty-battery {
	z-index: 3;
	background-color: #d7071e;
	box-shadow: 1px 1px #680009;
	height: 2px;
	width: 10px;
	margin-bottom: 3px;
}

.full-battery {
	z-index: 3;
	background-color: #39ffae;
	box-shadow: 1px 1px #1c8e5b;
	height: 2px;
	width: 10px;
	margin-bottom: 3px;
}
/* battery components start */
#battery-container {
	display: flex;
	margin-top: 30px;
}
.b-pair {
	display: flex;
	margin-left: -16px;
}
.battery-set {
	margin-right: 3px;
}
.battery-tab {
	z-index: 4;
	height: 0.5px;
	width: 2px;
	background-color: #bd7408;
	box-shadow: 0.3px 0.3px #724008;
}
.battery-link-front {
	width: 1px;
	height: 0.3px;
	background-color: #bd7408;
	box-shadow: 1px 1px #724008;
	left: -2px;
	float: left;
	position: relative;
	top: -2px;
}
.battery-connector-t {
	width: 14px;
	height: 3px;
	border-top: 0.5px solid #bd7408;
	border-left: 0.5px solid #bd7408;
	border-right: 0.5px solid #bd7408;
	position: relative;
	top: -6px;
	left: 19px;
	border-radius: 1px 1px 0 0;
	box-shadow: 0.5px -0.5px #724008;
}
.battery-connector-b {
	width: 14px;
	height: 3px;
	border-bottom: 0.5px solid #bd7408;
	border-left: 0.5px solid #bd7408;
	border-right: 0.5px solid #bd7408;
	border-radius: 0 0 1px 1px;
	position: absolute;
	left: 23px;
	top: 90px;
	box-shadow: 0.5px 0.5px #724008;
}
#for-deploy {
	transform: rotate(90deg);
	font-size: 2px;
	color: #bebab4;
	height: 3px;
	width: 63px;
	display: flex;
	justify-content: space-around;
	margin-top: 28px;
	margin-left: -29px;
}
#for-deploy > div {
	display: flex;
	justify-content: space-around;
}

#for-deploy p {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.empty-deploy {
	background-color: #d7071e;
	box-shadow: 1px 1px #680009;
	height: 2px;
	width: 20px;
}
.ready-deploy {
	background-color: #39ffae;
	box-shadow: 1px 1px #1c8e5b;
	height: 2px;
	width: 20px;
	margin-bottom: 3px;
}
/* #sync-battery {
}

#deploy-battery {
} */

/* battery side class */

.battery-left {
	transform: skewY(30deg);
}

.battery-right {
	transform: skewY(-30deg);
}

/* battery animation */

.b-flicker-f {
	animation: flicker 5s 2s infinite;
}

.b-flicker-s {
	animation: flicker 3s 5s infinite;
}

.b-flicker-deploy {
	animation: flicker 4s 3s infinite;
}
@keyframes flicker {
	from {
		opacity: 1;
	}

	4% {
		opacity: 0.9;
	}

	6% {
		opacity: 0.85;
	}

	8% {
		opacity: 0.95;
	}

	10% {
		opacity: 0.9;
	}

	11% {
		opacity: 0.922;
	}

	12% {
		opacity: 0.9;
	}

	14% {
		opacity: 0.95;
	}

	16% {
		opacity: 0.98;
	}

	17% {
		opacity: 0.9;
	}

	19% {
		opacity: 0.93;
	}

	20% {
		opacity: 0.98;
	}

	24% {
		opacity: 1;
	}

	26% {
		opacity: 0.94;
	}

	28% {
		opacity: 0.96;
	}

	37% {
		opacity: 0.93;
	}

	38% {
		opacity: 0.5;
	}

	39% {
		opacity: 0.95;
	}

	42% {
		opacity: 1;
	}

	44% {
		opacity: 0.96;
	}

	46% {
		opacity: 0.93;
	}

	56% {
		opacity: 0.9;
	}

	58% {
		opacity: 0.9;
	}

	60% {
		opacity: 0.99;
	}

	68% {
		opacity: 1;
	}

	70% {
		opacity: 0.9;
	}

	72% {
		opacity: 0.96;
	}

	93% {
		opacity: 0.92;
	}

	95% {
		opacity: 0.96;
	}

	97% {
		opacity: 0.92;
	}

	to {
		opacity: 1;
	}
}

colors {
	color: #ff6e27;
	color: #fbf665;
	color: #73fffe;
	color: #6287f8;
	color: #383e65;
	color: #020104;
	color: #22232a;
	color: #46413b;
	color: #bebab4;
	color: #f7f7f6;
}
