/* battery status */
.empty-battery {
	z-index: 3;
	background-color: #d7071e;
	box-shadow: 5px 5px #680009;
	height: 10px;
	width: 50px;
	margin-bottom: 15px;
}

.full-battery {
	z-index: 3;
	background-color: #39ffae;
	box-shadow: 5px 5px #1c8e5b;
	height: 10px;
	width: 50px;
	margin-bottom: 15px;
}
/* battery components start */
#battery-container {
	display: flex;
	position: relative;
	top: 120px;
	right: 35%;
}
.b-pair1 {
	display: flex;
	position: absolute;
	left: 15%;
}
.b-pair2 {
	display: flex;
	position: absolute;
	left: 50%;
}
.battery-set {
	margin-right: 3px;
}
.bs2 {
	margin-left: 20px;
}
.battery-tab {
	z-index: 4;
	height: 5px;
	width: 20px;
	position: absolute;
	background-color: #bd7408;
	box-shadow: 2px 2px #724008;
}
.battery-link-front {
	width: 10px;
	height: 3px;
	background-color: #bd7408;
	box-shadow: 5px 5px #724008;
	float: left;
	position: relative;
	left: -15px;
	top: -10px;
}
.battery-connector-t {
	width: 70px;
	height: 15px;
	border-top: 5px solid #bd7408;
	border-left: 5px solid #bd7408;
	border-right: 5px solid #bd7408;
	position: relative;
	border-radius: 5px 5px 0 0;
	box-shadow: 2px -2px #724008;
	left: 100px;
	top: -30px;
}
.battery-connector-b {
	width: 70px;
	height: 15px;
	border-bottom: 5px solid #bd7408;
	border-left: 5px solid #bd7408;
	border-right: 5px solid #bd7408;
	border-radius: 0 0 5px 5px;
	position: absolute;
	box-shadow: 2px 2px #724008;
	bottom: -19px;
	right: -45px;
}
#for-deploy {
	transform: rotate(90deg);
	font-size: 12px;
	color: #bebab4;
	height: 30px;
	width: 300px;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 135px;
	right: -180px;
}
#for-deploy > div {
	display: flex;
	justify-content: end;
}

#for-deploy p {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.empty-deploy {
	background-color: #d7071e;
	box-shadow: 1px 1px #680009;
	height: 10px;
	width: 100px;
}
.ready-deploy {
	background-color: #39ffae;
	box-shadow: 1px 1px #1c8e5b;
	height: 10px;
	width: 100px;
	margin-bottom: 30px;
}
/* #sync-battery {
}

#deploy-battery {
} */

/* battery side class */

.battery-left {
	transform: skewY(30deg);
}

.battery-right {
	transform: skewY(-30deg);
}

/* battery animation */

.b-flicker-f {
	animation: flicker 5s 2s infinite;
}

.b-flicker-s {
	animation: flicker 3s 5s infinite;
}

.b-flicker-deploy {
	animation: flicker 4s 3s infinite;
}
@keyframes flicker {
	from {
		opacity: 1;
	}

	4% {
		opacity: 0.9;
	}

	6% {
		opacity: 0.85;
	}

	8% {
		opacity: 0.95;
	}

	10% {
		opacity: 0.9;
	}

	11% {
		opacity: 0.922;
	}

	12% {
		opacity: 0.9;
	}

	14% {
		opacity: 0.95;
	}

	16% {
		opacity: 0.98;
	}

	17% {
		opacity: 0.9;
	}

	19% {
		opacity: 0.93;
	}

	20% {
		opacity: 0.98;
	}

	24% {
		opacity: 1;
	}

	26% {
		opacity: 0.94;
	}

	28% {
		opacity: 0.96;
	}

	37% {
		opacity: 0.93;
	}

	38% {
		opacity: 0.5;
	}

	39% {
		opacity: 0.95;
	}

	42% {
		opacity: 1;
	}

	44% {
		opacity: 0.96;
	}

	46% {
		opacity: 0.93;
	}

	56% {
		opacity: 0.9;
	}

	58% {
		opacity: 0.9;
	}

	60% {
		opacity: 0.99;
	}

	68% {
		opacity: 1;
	}

	70% {
		opacity: 0.9;
	}

	72% {
		opacity: 0.96;
	}

	93% {
		opacity: 0.92;
	}

	95% {
		opacity: 0.96;
	}

	97% {
		opacity: 0.92;
	}

	to {
		opacity: 1;
	}
}

colors {
	color: #ff6e27;
	color: #fbf665;
	color: #73fffe;
	color: #6287f8;
	color: #383e65;
	color: #020104;
	color: #22232a;
	color: #46413b;
	color: #bebab4;
	color: #f7f7f6;
}
