body {
	background-color: #10121d;
}

.traveling__typewriterregular {
	font-family: "traveling__typewriterregular", Arial, Helvetica, sans-serif;
}
.audiowideregular {
	font-family: "audiowideregular", Arial, Helvetica;
}
ul {
	list-style: none;
	padding-inline-start: 0;
}

#colors {
	display: flex;
	flex-direction: row;
}

.c1 {
	color: #ff6e27;
}

.c2 {
	color: #fbf665;
}

.c3 {
	color: #73fffe;
}

.c4 {
	color: #6287f8;
}

.c5 {
	color: #383e65;
}

.c6 {
	color: #020104;
}

.c7 {
	color: #22232a;
}

.c8 {
	color: #46413b;
}

.c9 {
	color: #bebab4;
}

.c10 {
	color: #f7f7f6;
}

#u1 {
	background-color: #ff6e27;
}
#u2 {
	background-color: #fbf665;
}
#u3 {
	background-color: #73fffe;
}
#u4 {
	background-color: #6287f8;
}
#u5 {
	background-color: #383e65;
}

/* sonar radar */
#sonar {
	border: 1px solid #73fffe;
	height: 101px;
	width: 101px;
	margin-top: 30px;
	/* display: flex; */
	/* flex-wrap: wrap; */
}
#sonar-group-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#sonar-group-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#pulse {
	position: absolute;
	height: 100px;
	width: 100px;
	overflow: hidden;
	margin-top: -50px;
}
#pulse-1 {
	border-radius: 50%;
	margin: 50px;
	height: 1px;
	width: 1px;
	animation: pulse 3s linear infinite;
	position: absolute;
}
#pulse-2 {
	border-radius: 50%;
	height: 1px;
	width: 1px;
	animation: pulse 3s linear infinite;
	animation-delay: 0.1s;
}

.sonar-slot {
	height: 9.59px;
	width: 9.58px;
	border: 0.1px solid #73fffe;
	display: inline-block;
	margin: 0;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 110, 39, 0.3);
	}
	40% {
		box-shadow: 0 0 0 80px rgba(255, 110, 39, 0);
	}
	80% {
		box-shadow: 0 0 0 80px rgba(255, 110, 39, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 110, 39, 0);
	}
}

/* volume bar sample */
.volume-bar {
	display: flex;
	flex-direction: row;
}
.volume {
	margin: 0 0.5px;
	width: 0;
	height: 30px;
	border-width: 10px;
	border-style: none dotted none dotted;
	border-image: linear-gradient(to bottom, #11efc6, #db528c, #e50030) 1 100%;
}
/* battery status */
.empty-battery {
	z-index: 3;
	background-color: #d7071e;
	box-shadow: 1px 1px #680009;
	height: 2px;
	width: 10px;
	margin-bottom: 3px;
}

.full-battery {
	z-index: 3;
	background-color: #39ffae;
	box-shadow: 1px 1px #1c8e5b;
	height: 2px;
	width: 10px;
	margin-bottom: 3px;
}
/* battery components start */
#battery-container {
	display: flex;
	margin-top: 30px;
}
.b-pair {
	display: flex;
	margin-left: -16px;
}
.battery-set {
	margin-right: 3px;
}
.battery-tab {
	z-index: 4;
	height: 0.5px;
	width: 2px;
	background-color: #bd7408;
	box-shadow: 0.3px 0.3px #724008;
}
.battery-link-front {
	width: 1px;
	height: 0.3px;
	background-color: #bd7408;
	box-shadow: 1px 1px #724008;
	left: -2px;
	float: left;
	position: relative;
	top: -2px;
}
.battery-connector-t {
	width: 14px;
	height: 3px;
	border-top: 0.5px solid #bd7408;
	border-left: 0.5px solid #bd7408;
	border-right: 0.5px solid #bd7408;
	position: relative;
	top: -6px;
	left: 19px;
	border-radius: 1px 1px 0 0;
	box-shadow: 0.5px -0.5px #724008;
}
.battery-connector-b {
	width: 14px;
	height: 3px;
	border-bottom: 0.5px solid #bd7408;
	border-left: 0.5px solid #bd7408;
	border-right: 0.5px solid #bd7408;
	border-radius: 0 0 1px 1px;
	position: absolute;
	left: 23px;
	top: 90px;
	box-shadow: 0.5px 0.5px #724008;
}
#for-deploy {
	transform: rotate(90deg);
	font-size: 2px;
	color: #bebab4;
	height: 3px;
	width: 63px;
	display: flex;
	justify-content: space-around;
	margin-top: 28px;
	margin-left: -29px;
}
#for-deploy > div {
	display: flex;
	justify-content: space-around;
}

#for-deploy p {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.empty-deploy {
	background-color: #d7071e;
	box-shadow: 1px 1px #680009;
	height: 2px;
	width: 20px;
}
.ready-deploy {
	background-color: #39ffae;
	box-shadow: 1px 1px #1c8e5b;
	height: 2px;
	width: 20px;
	margin-bottom: 3px;
}
/* #sync-battery {
}

#deploy-battery {
} */

/* battery side class */

.battery-left {
	transform: skewY(30deg);
}

.battery-right {
	transform: skewY(-30deg);
}

/* battery animation */

.b-flicker-f {
	animation: flicker 5s 2s infinite;
}

.b-flicker-s {
	animation: flicker 3s 5s infinite;
}

.b-flicker-deploy {
	animation: flicker 4s 3s infinite;
}
@keyframes flicker {
	from {
		opacity: 1;
	}

	4% {
		opacity: 0.9;
	}

	6% {
		opacity: 0.85;
	}

	8% {
		opacity: 0.95;
	}

	10% {
		opacity: 0.9;
	}

	11% {
		opacity: 0.922;
	}

	12% {
		opacity: 0.9;
	}

	14% {
		opacity: 0.95;
	}

	16% {
		opacity: 0.98;
	}

	17% {
		opacity: 0.9;
	}

	19% {
		opacity: 0.93;
	}

	20% {
		opacity: 0.98;
	}

	24% {
		opacity: 1;
	}

	26% {
		opacity: 0.94;
	}

	28% {
		opacity: 0.96;
	}

	37% {
		opacity: 0.93;
	}

	38% {
		opacity: 0.5;
	}

	39% {
		opacity: 0.95;
	}

	42% {
		opacity: 1;
	}

	44% {
		opacity: 0.96;
	}

	46% {
		opacity: 0.93;
	}

	56% {
		opacity: 0.9;
	}

	58% {
		opacity: 0.9;
	}

	60% {
		opacity: 0.99;
	}

	68% {
		opacity: 1;
	}

	70% {
		opacity: 0.9;
	}

	72% {
		opacity: 0.96;
	}

	93% {
		opacity: 0.92;
	}

	95% {
		opacity: 0.96;
	}

	97% {
		opacity: 0.92;
	}

	to {
		opacity: 1;
	}
}

colors {
	color: #ff6e27;
	color: #fbf665;
	color: #73fffe;
	color: #6287f8;
	color: #383e65;
	color: #020104;
	color: #22232a;
	color: #46413b;
	color: #bebab4;
	color: #f7f7f6;
}

aside {
	width: 400px;
	position: relative;
	right: 100%;
	left: 79%;
	/* border: 1px solid #73fffe; */
}
