#modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	background-color: rgb(2 1 4 / 0.9);
}
button {
	font-family: "audiowideregular", Arial, Helvetica;
}

.open-tutorial {
	position: absolute;
	top: 30px;
	left: 50px;
	background-color: transparent;
	border: 0;
	color: #383e65;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.open-tutorial:hover {
	color: #73fffe;
}
.close-tutorial {
	position: relative;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: 20px;
	background-color: transparent;
	border: 0;
	color: #ff6e27;
	font-size: 2em;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.close-tutorial:hover {
	color: rgb(162, 21, 6);
}

#welcome-modal {
	position: relative;
	width: 50%;
	margin: 0 auto;
	font-family: "audiowideregular", Arial, Helvetica;
	top: 300px;
}

#welcome-modal p {
	display: block;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 50px;
	line-height: 2em;
}

#modal-title {
	font-family: cyberpunkregular, sans-serif;
	font-size: 3em;
	text-align: center;
	color: #ff6e27;
	background-image: radial-gradient(
		ellipse 50% 35% at 50% 50%,
		#ff6e27,
		transparent
	);
	text-shadow: 0 0 0.6rem #fbf665, 0 0 1.5rem #ff6e27,
		-0.2rem 0.1rem 1rem #ff6e27, 0.2rem 0.1rem 1rem #ff6e27,
		0 -0.5rem 2rem #a7491a, 0 0.5rem 3rem #a7491a;
	word-wrap: break-word;
	animation: shine 2s forwards, flicker 3s infinite;
	margin-bottom: 50px;
}

.s-flicker {
	animation: shine 2s forwards, blink 3s 2s infinite;
}

.f-flicker {
	animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
	0% {
		color: #411d0b;
		text-shadow: none;
	}
	100% {
		color: #fbf665;
		text-shadow: 0 0 0.6rem #fbf665, 0 0 1.5rem #ff6e27,
			-0.2rem 0.1rem 1rem #ff6e27, 0.2rem 0.1rem 1rem #ff6e27,
			0 -0.5rem 2rem #a7491a, 0 0.5rem 3rem #a7491a;
	}
}

@keyframes blink {
	0%,
	22%,
	36%,
	75% {
		color: #fbf665;
		text-shadow: 0 0 0.6rem #fbf665, 0 0 1.5rem #ff6e27,
			-0.2rem 0.1rem 1rem #ff6e27, 0.2rem 0.1rem 1rem #ff6e27,
			0 -0.5rem 2rem #a7491a, 0 0.5rem 3rem #a7491a;
	}
	28%,
	33% {
		color: #ff6e27;
		text-shadow: none;
	}
	82%,
	97% {
		color: #a7491a;
		text-shadow: none;
	}
}

#welcome-modal > p {
	color: #73fffe;
}
colors {
	color: #ff6e27;
	color: #fbf665;
	color: #73fffe;
	color: #6287f8;
	color: #383e65;
	color: #020104;
	color: #22232a;
	color: #46413b;
	color: #bebab4;
	color: #f7f7f6;
}
